.instagram {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  line-height: 30px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 35%,
    #d6249f 50%,
    #285aeb 80%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.App {
  text-align: center;
}

.Home-logo {
  padding: 50px;
  border-radius: 60%;
  height: 20vmin;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
